<head>
    <title>Civ IV Quotes</title>
</head>
<mat-card class="quote-card">
    <mat-card-title>Sid Meier's Civilization IV Quotes</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        All quotes are copied verbatim from the game files.
        <br>
        Collected from the CIV4GameTextInfos.xml file with era information from the CIV4TechInfos.xml file. 
        <br>
        <b>All quotes are organized alphabetically in their respective era section.</b>
    </mat-card-content>
</mat-card>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Ancient Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of aQuotes">
                    <b matLine><h1>{{quote.tech}}</h1></b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Classical Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of cQuotes">
                    <b matLine><h1>{{quote.tech}}</h1></b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Medieval Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of mQuotes">
                    <b matLine><h1>{{quote.tech}}</h1></b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Renaissance Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of rQuotes">
                    <b matLine><h1>{{quote.tech}}</h1></b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Industrial Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of iQuotes">
                    <b matLine><h1>{{quote.tech}}</h1></b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Modern Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of moQuotes">
                    <b matLine><h1>{{quote.tech}}</h1></b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>