<head>
    <title>Civ Quotes</title>
    <script data-ad-client="ca-pub-7481011794811609" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<mat-card class="quote-card">
    <mat-card-title>Civ Quotes</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        Hello and welcome to Civ Quotes! Since it's creation in March 2021, this website has served as a catalogue of all
        the quotes, some quite interesting
        and some quite bad, from all of the Civilization games that have quotes (sorry Civ I, II, and III), plus Sid
        Meier's Alpha Centauri.
        <br>
        This website is constantly being updated and upgraded, and the quote catalogues are being updated as more are
        added with expansions and updates. To find a specific game's quotes, select from the menu in the top right.
    </mat-card-content>
</mat-card>