<mat-toolbar class="main-toolbar">
  <mat-toolbar-row>
    <a mat-button [routerLink]="'/home'">
      <h1>Civ Quotes</h1>
    </a>
    <span class="nav-menu"></span>

    <a mat-button [routerLink]="'/alpha-centauri'" class="toolbar-button"> SM's Alpha Centauri </a>
    <span class="button-spacer"></span>
    <a mat-button [routerLink]="'/civ-iv'" class="toolbar-button"> SM's Civilization IV </a>
    <span class="button-spacer"></span>
    <a mat-button [routerLink]="'/civ-v'" class="toolbar-button"> SM's Civilization V </a>
    <span class="button-spacer"></span>
    <a mat-button [routerLink]="'/civ-be'" class="toolbar-button"> SM's Civilization: Beyond Earth </a>
    <span class="button-spacer"></span>
    <a mat-button [routerLink]="'/civ-vi'" class="toolbar-button"> SM's Civilization VI </a>
    <span class="button-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<div style="margin-top: 2%; background-color: grey; width: 100%; height: 10em;"></div>