/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #303030;
}

.nav-menu {
    flex: 1 1 auto;
    float: right;
}

.main-toolbar {
    margin: 0;
    width: 94% !important;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 1%;
    background-color: goldenrod;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .main-toolbar {
        margin-left: 1%;
        margin-top: 1%;
        width: 98% !important;
    }
}

.toolbar-button {
    background-color: gray;
    color: white;
    margin-left: 10px;
}

.button-spacer {
    margin-left: 1%;
}

.quote-card {
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .quote-card {
        margin-left: 20%;
        margin-right: 20%;
    }
}

.accordion-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quote-card-text {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    line-height: 1.5 !important;
}