<head>
    <title>Civ Beyond Earth Quotes</title>
</head>
<mat-card class="quote-card">
    <mat-card-title>Civilization Beyond Earth Quotes</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        All quotes are copied verbatim from the game files.
        <br>
        Collected from the CivBEGameTextInfos_Techs.xml.
        <br>
        <b>All quotes are organized alphabetically in the faction section of their respective speaker.</b>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        American Reclamation Corporation
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of arcQuotes">
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>

                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                    <em *ngIf="quote.work">, </em>
                    <i>{{quote.work}}</i>
                <p></p>
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Brasilia
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of braQuotes">
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>

                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                    <em *ngIf="quote.work">, </em>
                    <i>{{quote.work}}</i>
                </p>
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Franco-Iberia
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of fiuQuotes">
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>

                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                    <em *ngIf="quote.work">, </em>
                    <i>{{quote.work}}</i>
                </p>
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Kavithan Protectorate
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of kvpQuotes">
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>

                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                    <em *ngIf="quote.work">, </em>
                    <i>{{quote.work}}</i>
                </p>
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Pan-Asian Cooperative
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of pacQuotes">
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>

                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                    <em *ngIf="quote.work">, </em>
                    <i>{{quote.work}}</i>
                </p>
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        People's African Union
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of pauQuotes">
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>

                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                    <em *ngIf="quote.work">, </em>
                    <i>{{quote.work}}</i>
                </p>
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Polystralia
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of plyQuotes">
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>

                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                    <em *ngIf="quote.work">, </em>
                    <i>{{quote.work}}</i>
                </p>
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Slavic Federation
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of slaQuotes">
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>

                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                    <em *ngIf="quote.work">, </em>
                    <i>{{quote.work}}</i>
                </p>
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Other
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of otherQuotes">
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>

                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                    <em *ngIf="quote.work">, </em>
                    <i>{{quote.work}}</i>
                </p>
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>