<head>
    <title>Civ Beyond Earth Quotes</title>
</head>
<mat-card class="quote-card">
    <mat-card-title>Civilization Beyond Earth Quotes</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        All quotes are copied verbatim from the game files.
        <br>
        Collected from CivBEGameTextInfos_Techs.xml, CivBEGameTextInfos_Civilopedia.xml, and CivBEGameTextInfos_Civilopedia_Expansion1.xml.
        <br>
        <b>All quotes are organized alphabetically in the faction section of their respective speaker, with Wonders at the bottom.</b>
    </mat-card-content>
</mat-card>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    American Reclamation Corporation
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of arcQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                        <em *ngIf="quote.work">, </em>
                        <i>{{quote.work}}</i>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Brasilia
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of braQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                        <em *ngIf="quote.work">, </em>
                        <i>{{quote.work}}</i>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Franco-Iberia
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of fiuQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                        <em *ngIf="quote.work">, </em>
                        <i>{{quote.work}}</i>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Kavithan Protectorate
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of kvpQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                        <em *ngIf="quote.work">, </em>
                        <i>{{quote.work}}</i>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Pan-Asian Cooperative
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of pacQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                        <em *ngIf="quote.work">, </em>
                        <i>{{quote.work}}</i>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    People's African Union
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of pauQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                        <em *ngIf="quote.work">, </em>
                        <i>{{quote.work}}</i>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Polystralia
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of plyQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                        <em *ngIf="quote.work">, </em>
                        <i>{{quote.work}}</i>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Slavic Federation
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of slaQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                        <em *ngIf="quote.work">, </em>
                        <i>{{quote.work}}</i>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Other
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of otherQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                        <em *ngIf="quote.work">, </em>
                        <i>{{quote.work}}</i>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Wonder
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of wonderQuotes">
                    <b matLine>
                        <h1>{{quote.wonder}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                        <em *ngIf="quote.work">, </em>
                        <i>{{quote.work}}</i>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>