<head>
    <title>Civ VI Quotes</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7481011794811609"
        crossorigin="anonymous"></script>
</head>

<mat-card class="quote-card">
    <mat-card-title>Sid Meier's Civilization VI Quotes</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        All quotes are copied verbatim from the game files of Civilization 6.
        <br>
        Quotes collected from Quotes_Text.xml and Expansion2_Quotes_Text.xml.
        <br>
        <b>
            All quotes are organized alphabetically in their respective era and type (i.e. technology, wonder)
            section.
        </b>
    </mat-card-content>
</mat-card>

<h1 style="margin-left: 20%; margin-top: 1%; color:white;">Technologies</h1>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Ancient Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list style="width: 100%;">
                <mat-list-item *ngFor="let tech of aTechQuotes">
                    <b matLine>
                        <h1>{{tech.tech}}</h1>
                    </b>

                    <i matLine class="quote-card-text">
                        {{tech.quotes[0].quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{tech.quotes[0].speaker}}</strong>
                    </p>

                    <br matLine *ngIf="tech.quotes.length > 1">

                    <i matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        {{tech.quotes[1].quote}}
                    </i>

                    <br matLine *ngIf="tech.quotes.length > 1">
                    <p matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        <strong> — {{tech.quotes[1].speaker}}</strong>
                    </p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Classical Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list style="width: 100%;">
                <mat-list-item *ngFor="let tech of cTechQuotes">
                    <b matLine>
                        <h1>{{tech.tech}}</h1>
                    </b>

                    <i matLine class="quote-card-text">
                        {{tech.quotes[0].quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{tech.quotes[0].speaker}}</strong>
                    </p>

                    <br matLine *ngIf="tech.quotes.length > 1">

                    <i matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        {{tech.quotes[1].quote}}
                    </i>

                    <br matLine *ngIf="tech.quotes.length > 1">
                    <p matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        <strong> — {{tech.quotes[1].speaker}}</strong>
                    </p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Medieval Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list style="width: 100%;">
                <mat-list-item *ngFor="let tech of mTechQuotes">
                    <b matLine>
                        <h1>{{tech.tech}}</h1>
                    </b>

                    <i matLine class="quote-card-text">
                        {{tech.quotes[0].quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{tech.quotes[0].speaker}}</strong>
                    </p>

                    <br matLine *ngIf="tech.quotes.length > 1">

                    <i matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        {{tech.quotes[1].quote}}
                    </i>

                    <br matLine *ngIf="tech.quotes.length > 1">
                    <p matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        <strong> — {{tech.quotes[1].speaker}}</strong>
                    </p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Renaissance Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list style="width: 100%;">
                <mat-list-item *ngFor="let tech of rTechQuotes">
                    <b matLine>
                        <h1>{{tech.tech}}</h1>
                    </b>

                    <i matLine class="quote-card-text">
                        {{tech.quotes[0].quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{tech.quotes[0].speaker}}</strong>
                    </p>

                    <br matLine *ngIf="tech.quotes.length > 1">

                    <i matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        {{tech.quotes[1].quote}}
                    </i>

                    <br matLine *ngIf="tech.quotes.length > 1">
                    <p matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        <strong> — {{tech.quotes[1].speaker}}</strong>
                    </p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Industrial Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list style="width: 100%;">
                <mat-list-item *ngFor="let tech of iTechQuotes">
                    <b matLine>
                        <h1>{{tech.tech}}</h1>
                    </b>

                    <i matLine class="quote-card-text">
                        {{tech.quotes[0].quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{tech.quotes[0].speaker}}</strong>
                    </p>

                    <br matLine *ngIf="tech.quotes.length > 1">

                    <i matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        {{tech.quotes[1].quote}}
                    </i>

                    <br matLine *ngIf="tech.quotes.length > 1">
                    <p matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        <strong> — {{tech.quotes[1].speaker}}</strong>
                    </p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Modern Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list style="width: 100%;">
                <mat-list-item *ngFor="let tech of moTechQuotes">
                    <b matLine>
                        <h1>{{tech.tech}}</h1>
                    </b>

                    <i matLine class="quote-card-text">
                        {{tech.quotes[0].quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{tech.quotes[0].speaker}}</strong>
                    </p>

                    <br matLine *ngIf="tech.quotes.length > 1">

                    <i matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        {{tech.quotes[1].quote}}
                    </i>

                    <br matLine *ngIf="tech.quotes.length > 1">
                    <p matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        <strong> — {{tech.quotes[1].speaker}}</strong>
                    </p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Atomic Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list style="width: 100%;">
                <mat-list-item *ngFor="let tech of atTechQuotes">
                    <b matLine>
                        <h1>{{tech.tech}}</h1>
                    </b>

                    <i matLine class="quote-card-text">
                        {{tech.quotes[0].quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{tech.quotes[0].speaker}}</strong>
                    </p>

                    <br matLine *ngIf="tech.quotes.length > 1">

                    <i matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        {{tech.quotes[1].quote}}
                    </i>

                    <br matLine *ngIf="tech.quotes.length > 1">
                    <p matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        <strong> — {{tech.quotes[1].speaker}}</strong>
                    </p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Information Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list style="width: 100%;">
                <mat-list-item *ngFor="let tech of ifTechQuotes">
                    <b matLine>
                        <h1>{{tech.tech}}</h1>
                    </b>

                    <i matLine class="quote-card-text">
                        {{tech.quotes[0].quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{tech.quotes[0].speaker}}</strong>
                    </p>

                    <br matLine *ngIf="tech.quotes.length > 1">

                    <i matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        {{tech.quotes[1].quote}}
                    </i>

                    <br matLine *ngIf="tech.quotes.length > 1">
                    <p matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        <strong> — {{tech.quotes[1].speaker}}</strong>
                    </p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Future Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list style="width: 100%;">
                <mat-list-item *ngFor="let tech of fTechQuotes">
                    <b matLine>
                        <h1>{{tech.tech}}</h1>
                    </b>

                    <i matLine class="quote-card-text">
                        {{tech.quotes[0].quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{tech.quotes[0].speaker}}</strong>
                    </p>

                    <br matLine *ngIf="tech.quotes.length > 1">

                    <i matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        {{tech.quotes[1].quote}}
                    </i>

                    <br matLine *ngIf="tech.quotes.length > 1">
                    <p matLine class="quote-card-text" *ngIf="tech.quotes.length > 1">
                        <strong> — {{tech.quotes[1].speaker}}</strong>
                    </p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>