<mat-card class="quote-card">
    <mat-card-title>Sid Meier's Civilization V Quotes</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        Collected from the CIV5GameTextInfos_Civilopedia.xml and CIV5GameTextInfos_Civilopedia_Inherited_Expansion2.xml files. All quotes are copied verbatim from the in-game files.
        <br>
        This list includes the technologies added in the 2 expansions, as well as Telegraph and Mass Media, which were removed.
        <br>
        <b>All quotes are organized alphabetically in their respective era section.</b>
    </mat-card-content>
</mat-card>


<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Ancient Era
    </mat-card-title>
    <mat-divider ></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of aQuotes">
                <b matLine><h1>{{quote.tech}}</h1></b>
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>
                
                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                <p></p>  
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Classical Era
    </mat-card-title>
    <mat-divider ></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of cQuotes">
                <b matLine><h1>{{quote.tech}}</h1></b>
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>
                
                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                <p></p>  
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Medieval Era
    </mat-card-title>
    <mat-divider ></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of mQuotes">
                <b matLine><h1>{{quote.tech}}</h1></b>
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>
                
                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                <p></p>  
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Renaissance Era
    </mat-card-title>
    <mat-divider ></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of rQuotes">
                <b matLine><h1>{{quote.tech}}</h1></b>
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>
                
                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                <p></p>  
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Industrial Era
    </mat-card-title>
    <mat-divider ></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of iQuotes">
                <b matLine><h1>{{quote.tech}}</h1></b>
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>
                
                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                <p></p>  
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Modern Era
    </mat-card-title>
    <mat-divider ></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of moQuotes">
                <b matLine><h1>{{quote.tech}}</h1></b>
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>
                
                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                <p></p>  
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Atomic Era
    </mat-card-title>
    <mat-divider ></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of atQuotes">
                <b matLine><h1>{{quote.tech}}</h1></b>
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>
                
                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                <p></p>  
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card class="quote-card" style="margin-top: 1%">
    <mat-card-title>
        Information Era
    </mat-card-title>
    <mat-divider ></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let quote of ifQuotes">
                <b matLine><h1>{{quote.tech}}</h1></b>
                <i matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5 !important;">
                    {{quote.quote}}
                </i>
                
                <br matLine>
                <p matLine style="word-wrap: break-word !important;
                white-space: pre-wrap !important; line-height: 1.5;">
                    <strong> — {{quote.speaker}}</strong>
                <p></p>  
                <mat-divider matLine></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>