<head>
    <title>Civ V Quotes</title>
</head>
<mat-card class="quote-card">
    <mat-card-title>Sid Meier's Civilization V Quotes</mat-card-title>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        All quotes are copied verbatim from the game files.
        <br>
        Tech quotes collected from the CIV5GameTextInfos_Civilopedia.xml and
        CIV5GameTextInfos_Civilopedia_Inherited_Expansion2.xml files.
        The technology list includes the technologies added in the 2 expansions, as well as Telegraph and Mass Media,
        which were removed.
        <br>
        Wonder quotes collected form the CIV5GameTextInfos_Civilopedia.xml,
        CIV5GameTextInfos_Civilopedia_Expansion2.xml, CIV5GameTextInfos_Civilopedia_Inherited_Expansion2.xml, and
        CIV5GameTextInfos_Buildings_NewWonders.xml files.
        The wonders list includes the wonders added in the 2 expansions, as well as the United Nations, which was
        removed.
        <br>
        <b>
            All quotes are organized alphabetically in their respective era and type (i.e. technology, wonder)
            section.
        </b>
    </mat-card-content>
</mat-card>

<h1 style="margin-left: 20%; margin-top: 1%; color:white;">Technologies</h1>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Ancient Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of aTechQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Classical Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of cTechQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Medieval Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of mTechQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Renaissance Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of rTechQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Industrial Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of iTechQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Modern Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of moTechQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Atomic Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of atTechQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Information Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of ifTechQuotes">
                    <b matLine>
                        <h1>{{quote.tech}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<h1 style="margin-left: 20%; margin-top: 1%; color:white;">Wonders</h1>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Ancient Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of aWonderQuotes">
                    <b matLine>
                        <h1>{{quote.wonder}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Classical Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of cWonderQuotes">
                    <b matLine>
                        <h1>{{quote.wonder}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Medieval Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of mWonderQuotes">
                    <b matLine>
                        <h1>{{quote.wonder}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Renaissance Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of rWonderQuotes">
                    <b matLine>
                        <h1>{{quote.wonder}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Industrial Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of iWonderQuotes">
                    <b matLine>
                        <h1>{{quote.wonder}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Modern Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of moWonderQuotes">
                    <b matLine>
                        <h1>{{quote.wonder}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Atomic Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of atWonderQuotes">
                    <b matLine>
                        <h1>{{quote.wonder}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Information Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of ifWonderQuotes">
                    <b matLine>
                        <h1>{{quote.wonder}}</h1>
                    </b>
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<h1 style="margin-left: 20%; margin-top: 1%; color:white;">Eras</h1>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Classical Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of cEraQuotes">
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Medieval Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of mEraQuotes">
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Renaissance Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of rEraQuotes">
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Industrial Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of iEraQuotes">
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Modern Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of moEraQuotes">
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="quote-card">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-card-title style="margin-top: 1em; margin-bottom: 1em;">
                    Future Era
                </mat-card-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let quote of fEraQuotes">
                    <i matLine class="quote-card-text">
                        {{quote.quote}}
                    </i>

                    <br matLine>
                    <p matLine class="quote-card-text">
                        <strong> — {{quote.speaker}}</strong>
                    <p></p>
                    <mat-divider matLine></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>